@model IEnumerable<Soul.Models.Product>

<table>
    <tr>
        <th>
            蛋糕名称
        </th>
        <th>
            英文名
        </th>
        <th>
            尺寸
        </th>
        <th>
           价格
        </th>
        <th>
           品牌
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
    </tr>
}

</table>
